#home{
	background-color: #ffc107;
	color: white;
}

#home h1 {
	font-size: 50px;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5
}

footer p a {
	font-size: 1.1em;
	padding-left: 20px;
	color: black;
}